extends layout

block content
  #hand-top
  #intro-landing.row
    .step1
      h1 THIS APPLICATION IS ABOUT
      p  It is a long established fact that a reader will be distracted by the readable 
      p its layout. The point of using Lorem Ipsum is that it has a more-or-less normal 
      p as opposed to using 'Content here, content here', making it look like readable English.
      
      button.btn Sign In
      .container-controls
        .next.btn >

    .step2
      h1 THIS APPLICATION IS ABOUT
      p  It is a long established fact that a reader will be distracted by the readable 
      p its layout. The point of using Lorem Ipsum is that it has a more-or-less normal 
      p as opposed to using 'Content here, content here', making it look like readable English.
        .prev.btn <

  #my-root-footer
