doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/css/style.css')

    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/lib/jquery.min.js')
    script(src='/javascripts/lib/underscore.min.js')
    script(src='/javascripts/lib/crafty.js')

    script(src='/javascripts/app.js')

    script(src='/javascripts/app/components/socket.js')
    script(src='/javascripts/app/components/actor.js')
    script(src='/javascripts/app/components/player.js')
    script(src='/javascripts/app/components/free.js')
    script(src='/javascripts/app/components/obstacle.js')
    script(src='/javascripts/app/components/limit.js')
    script(src='/javascripts/app/components/barrel.js')
    script(src='/javascripts/app/components/next.js')
    script(src='/javascripts/app/components/zombie.js')
    script(src='/javascripts/app/components/bullet.js')
  body
    #main-container
      nav.navbar.navbar-inverse(role="navigation")
        .navbar-header
          button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target=".navbar-ex8-collapse")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand#title(href="/")
            img(src="/images/game-logo.png")

        .navbar-collapse.navbar-ex8-collapse.collapse.col-md-6
          ul.nav.navbar-nav
            li
              a(href="/") Home
            li
              a(href="/login") Login
            li
              a(href="/game") Game

        .col-lg-2.pull-rigth.logo-tango
          a(href="http://tangosource.com")
            img(src="/images/ts-logo.png")

    
      block content


    footer#footer
      p ZombieWorld / TangoSource / 2013
