@import url(../css/bootstrap.css);
@import url(../css/bootstrap-theme.css);
@import url(../css/fonts.css);
/* line 17, ../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/style.sass */
body {
  font: 14px "volter", Helvetica, Arial, sans-serif;
  background: #302c28 url("../../images/bg.jpg") repeat;
  min-width: 1088px;
  overflow: auto;
  min-width: 1200px;
}

/* line 16, ../sass/style.sass */
.navbar-inverse.navbar {
  background: transparent;
  margin-bottom: 0;
}
/* line 20, ../sass/style.sass */
.navbar-inverse.navbar .logo-tango {
  float: right;
  text-align: right;
  padding-top: 31px;
}

/* line 26, ../sass/style.sass */
.navbar-inverse .navbar-collapse {
  padding-top: 30px;
  width: 26%;
  float: left;
}

/* line 31, ../sass/style.sass */
a {
  color: #00b7ff;
}

/* line 39, ../sass/style.sass */
#hand-top {
  background: #302c28 url("../../images/hand-bg.jpg") no-repeat;
  background-size: 100%;
  overflow: hidden;
  position: fixed;
  height: 90%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

/* line 50, ../sass/style.sass */
h1 {
  font-size: 24px;
}

/* line 53, ../sass/style.sass */
p {
  font-size: 18px;
}

/* line 56, ../sass/style.sass */
a {
  color: #908b6c;
}

/* line 59, ../sass/style.sass */
.btn-primary {
  background: #262f1e;
  border-color: #1a1e16;
}
/* line 62, ../sass/style.sass */
.btn-primary:hover {
  background: #1a1e16;
  border-color: #1a1e16;
}

/* line 66, ../sass/style.sass */
#intro-landing {
  -webkit-box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.75);
  background: #302c28 url("../../images/info-bg.jpg") no-repeat;
  background-size: 100% auto;
  width: 100%;
  margin: 400px 0 0;
  min-height: 400px;
  padding: 40px;
  text-align: center;
  line-height: 44px;
  overflow-x: hidden;
  overflow-y: hidden;
  max-height: 360px;
  white-space: nowrap;
}
/* line 80, ../sass/style.sass */
#intro-landing .btn {
  margin-top: 40px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
/* line 83, ../sass/style.sass */
#intro-landing .rpg-button {
  background: #463627;
  border: 2px solid #231c15;
  box-shadow: inset -2px 2px 1px #655b52, inset 2px -2px 1px #36281b;
  padding: 12px 25px;
}
/* line 88, ../sass/style.sass */
#intro-landing .rpg-button:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 91, ../sass/style.sass */
#intro-landing::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  background: inherit;
}
/* line 95, ../sass/style.sass */
#intro-landing::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0);
  -webkit-border-radius: 1ex;
}
/* line 98, ../sass/style.sass */
#intro-landing::-webkit-scrollbar-track {
  background: none;
}
/* line 101, ../sass/style.sass */
#intro-landing .container-controls {
  overflow: hidden;
  float: right;
}
/* line 105, ../sass/style.sass */
#intro-landing .container-controls .rpg-button.prev, #intro-landing .container-controls .rpg-button.next {
  padding: 0px 20px;
}
/* line 108, ../sass/style.sass */
#intro-landing .step1 {
  display: inline-block;
  width: 100%;
}
/* line 112, ../sass/style.sass */
#intro-landing .step2 {
  display: inline-block;
  width: 100%;
}

/* line 116, ../sass/style.sass */
.next, .prev {
  float: right;
  background: #bcb99e;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  line-height: 50px;
  padding-left: 4px;
  cursor: pointer;
}

/* line 126, ../sass/style.sass */
.prev {
  float: left;
  line-height: 49px;
  padding-left: 1px;
}

/* line 133, ../sass/style.sass */
#login {
  background: rgba(188, 185, 158, 0.4) url("../../images/zom1.png") no-repeat 90% 90%;
  height: 700px;
  margin: 60px;
  padding: 40px;
}
/* line 138, ../sass/style.sass */
#login h1 {
  font-size: 48px;
  color: #cdccbc;
}
/* line 141, ../sass/style.sass */
#login .col-md-6 {
  margin: 0 auto;
  float: none;
  text-align: center;
}
/* line 145, ../sass/style.sass */
#login .col-md-6 label {
  font-size: 48px;
  color: #524832;
  margin-bottom: 45px;
  width: 100%;
}
/* line 150, ../sass/style.sass */
#login .col-md-6 .btn {
  clear: both;
  width: 180px;
  height: 60px;
}

/* line 154, ../sass/style.sass */
#username, #chat-slide textarea {
  -webkit-box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.46);
  box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.46);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  border: 5px solid #626154;
  background: #cdccbc;
  width: 80%;
  height: 90px;
  margin-bottom: 100px;
  padding: 20px;
}

/* line 165, ../sass/style.sass */
input[type="text"], input[type="password"] {
  outline: 0;
}

/* line 168, ../sass/style.sass */
.space {
  height: 48px;
}

/* line 171, ../sass/style.sass */
.chat-icon {
  display: none;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
@media (max-width: 1450px) {
  /* line 171, ../sass/style.sass */
  .chat-icon {
    background: transparent url("../../images/chat.png") no-repeat;
    position: absolute;
    display: block;
    top: 120px;
    right: 0;
    height: 64px;
    width: 64px;
    z-index: 999;
  }
  /* line 183, ../sass/style.sass */
  .chat-icon.open {
    right: 38%;
    background: transparent url("../../images/close.png") no-repeat center center;
  }
}

/* line 187, ../sass/style.sass */
#chat-slide {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  background: rgba(98, 97, 84, 0.6);
  color: #cdccbc;
  position: absolute;
  right: 0;
  height: 400px;
  text-align: center;
  width: 18%;
  height: 640px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
@media (min-width: 1451px) {
  /* line 187, ../sass/style.sass */
  #chat-slide {
    width: 18%;
    display: block !important;
  }
}
@media (max-width: 1450px) {
  /* line 187, ../sass/style.sass */
  #chat-slide {
    width: 0;
    overflow: hidden;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }
  /* line 206, ../sass/style.sass */
  #chat-slide.visible {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    width: 38%;
    display: block !important;
    z-index: 9999;
  }
}
/* line 211, ../sass/style.sass */
#chat-slide label {
  color: #cdccbc;
  width: 100%;
}
/* line 214, ../sass/style.sass */
#chat-slide textarea {
  margin-bottom: 20px;
}
/* line 218, ../sass/style.sass */
#chat-slide #chat {
  margin: 20px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  height: 460px;
  overflow-x: hidden;
  overflow-y: auto;
}
/* line 225, ../sass/style.sass */
#chat-slide #chat p {
  word-wrap: break-word;
  text-align: left;
  font-size: 16px;
}
/* line 229, ../sass/style.sass */
#chat-slide #chat p:nth-child(odd) {
  background: rgba(0, 0, 0, 0.8);
}
/* line 231, ../sass/style.sass */
#chat-slide #chat p:nth-child(even) {
  background: transparent;
}

/* line 236, ../sass/style.sass */
footer {
  background: transparent;
  height: 60px;
  text-align: center;
  padding-top: 17px;
  color: #cdccbc;
  margin-bottom: -60px;
}

/* line 10, ../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#main-container {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -60px;
}
/* line 18, ../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#main-container #my-root-footer {
  height: 60px;
}

/* line 20, ../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 60px;
}
