@import "compass/reset"
@import "compass/css3"
@import "../css/bootstrap.css"
@import "../css/bootstrap-theme.css"
@import "../css/fonts.css"

body 
  font: 14px "mine", Helvetica, Arial, sans-serif
  background: #302c28

a 
  color: #00B7FF
